:root{
    background-color: #FAE8E0;
    font-family: 'Source Sans Pro', sans-serif;
    box-sizing: border-box;
    font-size: 22px;
}

button {
    background-color: hotpink;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 0.5rem;
}

#info{
    font-size: 1.5rem;
}

h2{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

button:hover{
    background-color: #D8A7B1;
}

#display{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 400px));
}

#display>div{
    background-color: #B6E2D3;
    border-radius: 7px;
    padding: 10px;
}

#display>div>div{
    padding: 3px;
}

input{
    background-color: #FAE8E0;
    border: none;
    border-bottom: solid 2px black;
    font-size: 0.7em;
}

input:focus{
    outline: none;
}